.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.search-bar{
  width: 40%;
  
  padding: 9px;
  border: none;
}
.search-button{
  background: lightcoral;
  border: none;
  padding: 9px 20px;
  color: white;

}
.posts{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
